<!doctype>
<html>
<head>
<script type="text/javascript" src="${path}/assets/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
var path='<%=application.getAttribute("path")%>';
</script>
</head>
<body>

</body>
</html>