<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xyan.frame.feature.primary.dao.CodeDao">

	<sql id="Base_Column_List">
		MODEL_NAME as "modelName"
		, VALUE as "value"
	</sql>

	<select id="selectLock" resultType="com.xyan.frame.feature.primary.model.CodeModel"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from xy_code
		where
		MODEL_NAME=#{modelName} 
		FOR UPDATE
	</select>

	<select id="selectByExample" resultType="java.util.HashMap"
		parameterType="com.xyan.frame.feature.primary.model.CodeModel">
		select
		<include refid="Base_Column_List" />
		from xy_code
		<where>
			<if test="modelName!=null">and MODEL_NAME=#{modelName}</if>
			<if test="value!=null">and VALUE=#{value}</if>
		</where>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from xy_code
		where MODEL_NAME=#{modelName}
	</delete>


	<insert id="insert" parameterType="com.xyan.frame.feature.primary.model.CodeModel">
		insert into xy_code
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="modelName != null">MODEL_NAME,</if>
			<if test="value != null">VALUE,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="modelName != null">#{modelName},</if>
			<if test="value != null">#{value},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.xyan.frame.feature.primary.model.CodeModel">
		update xy_code
		<set>
			<if test="modelName != null">MODEL_NAME =#{modelName},</if>
			<if test="value != null">VALUE =#{value},</if>
		</set>
		where MODEL_NAME=#{modelName}
	</update>


	<delete id="deleteByIds" parameterType="java.lang.String">
		delete from xy_code t where
		MODEL_NAME
		in
		<foreach collection="list" item="item" index="index" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</delete>

</mapper>